@tailwind base;
@tailwind components;
@tailwind utilities;

.\[--slide-exit\:80px\] {
  z-index: 9999 !important;
}
.backdrop-opacity-disabled.w-screen {
  z-index: 9998 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #7731d8 !important;
}

.data-\[selectable\=true\]\:focus\:bg-default:focus[data-selectable="true"] {
  background-color: #7731d8 !important;
}
.data-\[hover\=true\]\:bg-default[data-hover="true"] {
  background-color: #7731d8 !important;
  color: white !important;
}
.after\:bg-default-foreground:after {
  background-color: #7731d8 !important;

} 
.data-\[hover\=true\]\:border-default-400[data-hover="true"] {
border-color: #e4e4e7 !important;
}